* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, "JetBrains Mono", "Google Sans";
    font-size: 16px;
    min-height: 0;
    margin: 0px;
}

window#waybar {
    background-color: transparent;
    border-bottom: 0px;
    color: whitesmoke;
}

window#waybar.empty {
    background-color: transparent;
}

#workspaces button {
    padding: 0 5px;
    background-color: alpha(#3d3636, 0.3);
    color: alpha(white, 0.7);
    margin: 5px 5px;
    padding: 0 10px;
    font-family: "Google Sans";
    font-weight: 700;
    transition: all 200ms ease-in-out;
}

#workspaces button.focused, #workspaces button.active {
    background-color: alpha(antiquewhite, 0.7);
    min-width: 60px;
    color: #3d3636;
    font-family: "Google Sans";
    font-weight: 700;
}

#workspaces {
    margin: 0 5px;
}

#clock {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 1);
    font-family: "Google Sans";
    font-size: larger;
    font-weight: 900;
    padding: 0 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#cpu {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    margin: 5px 5px;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 100px;
}

#memory {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    margin: 5px 5px;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 100px;
}

#disk {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    margin: 5px 5px;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 100px;
}

#network {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    margin: 5px 5px;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 100px;
}

#network.disconnected {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    margin: 5px 5px;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 100px;
}

#pulseaudio {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    margin: 5px 5px;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 100px;
}

#pulseaudio.muted {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    margin: 5px 5px;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 100px;
}

#custom-media {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    min-width: 100px;
    font-weight: 700;
    padding: 0 10px;
    border-radius: 100px;
}

#custom-media.custom-spotify {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    min-width: 100px;
    font-weight: 700;
    padding: 0 10px;
    border-radius: 100px;
}

#custom-media.custom-vlc {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    min-width: 100px;
    font-weight: 700;
    padding: 0 10px;
    border-radius: 100px;
}

#temperature {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    margin: 5px 5px;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 100px;
}

#temperature.critical {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    margin: 5px 5px;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 100px;
}

#custom-power {
    background-color: alpha(antiquewhite, 0.7);
    color: alpha(#3d3636, 0.8);
    margin: 5px 5px;
    font-size: large;
    font-weight: 700;
    padding: 2px 10px 0 11px;
    border-radius: 100px;
}
