* {
	font-family: Inter Medium;
}

window {
	margin: 1px;
	border: 10px solid antiquewhite;
	border-radius: 10px;
}

#input {
	margin: 5px;
	border-radius: 0px;
	border: none;
	border-bottom: 0px solid #b2ebee;
	background-color: #1c1715;
	color: #b2ebee;
}

#inner-box {
	margin: 5px;
	background-color: #1c1715;
}

#outer-box {
	margin: 3px;
	padding: 20px;
	background-color: #1c1715;
	border-radius: 10px;
}

#text {
	margin: 5px;
	color: #b2ebee;
}

#entry:selected {
	border-color: antiquewhite;
	border-radius: 4px;
}

#text:selected {
	color: antiquewhite;
}